Repository rossigee/kubeftpd: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-build, go-test-coverage, go-security-scan, manifest-validation

go-build:
  name: go-build
  entry: make build
  language: system
  pass_filenames: false

go-test-coverage:
  name: go-test-coverage
  entry: make test-coverage
  language: system
  pass_filenames: false

go-security-scan:
  name: go-security-scan
  entry: make security-scan
  language: system
  pass_filenames: false
  stages:
  - pre-commit

manifest-validation:
  name: validate-k8s-manifests
  entry: make validate-manifests
  language: system
  pass_filenames: false

fix: update gosec to v2.22.8 to resolve golang.org/x/tools compilation error
  Makefile
Due: none

fix: resolve security scan issues and improve code safety
  Makefile
  go.mod
  internal/backends/filesystem.go
  internal/backends/minio.go
  internal/backends/webdav.go
  internal/controller/filesystembackend_controller.go
  test/utils/utils.go
Due: go-build, go-test-coverage, go-security-scan

fix: simplify CI/CD workflows and resolve test coverage issues
  .github/workflows/clean-ci.yml
  .github/workflows/release.yml
Due: manifest-validation

feat: implement comprehensive usage metrics tracking and export
  .air.toml
  .devcontainer/devcontainer.json
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/kind-config.yaml
  .github/workflows/ci.yml.backup
  .golangci.yml
  .yamllint.yaml
  README.md
  go.mod
  internal/ftp/auth.go
  internal/ftp/server.go
  internal/metrics/usage.go
  internal/storage/interface.go
  internal/storage/minio.go
  test/e2e/suite_test.go
Due: go-build, go-test-coverage, go-security-scan, manifest-validation

fix: install kustomize in release workflow
  .github/workflows/release.yml
Due: manifest-validation

fix: use PAT_TOKEN for container registry authentication
  .github/workflows/release.yml
Due: manifest-validation

fix: remove unnecessary kube-rbac-proxy from metrics setup
  README.md
  chart/kubeftpd/templates/deployment.yaml
  chart/kubeftpd/templates/service.yaml
  chart/kubeftpd/templates/servicemonitor.yaml
  chart/kubeftpd/values.yaml
  cmd/main.go
  scripts/release.sh
Due: go-build, go-test-coverage, go-security-scan, manifest-validation

chore: bump version to v0.2.5
  README.md
Due: none

Version bumps.
  chart/kubeftpd/Chart.yaml
Due: manifest-validation

fix(chart): update default image tag from v0.1.0 to v0.2.5
  chart/kubeftpd/Chart.yaml
  chart/kubeftpd/values.yaml
Due: manifest-validation

fix(chart): add passwordSecret field to User CRD and make password optional
  chart/kubeftpd/Chart.yaml
  chart/kubeftpd/crd/bases/ftp.golder.org_users.yaml
Due: manifest-validation

fix: correct FTP port configuration in chart template
  chart/kubeftpd/Chart.yaml
  chart/kubeftpd/templates/deployment.yaml
Due: manifest-validation

fix: add /data directory volume mount for FilesystemBackend
  chart/kubeftpd/Chart.yaml
  chart/kubeftpd/templates/deployment.yaml
Due: manifest-validation

fix: add FilesystemBackend validation and update docs
  .github/ISSUE_TEMPLATE/bug_report.yml
  .gosec.yaml
  .pre-commit-config.yaml
  CHANGELOG.md
  Makefile
  README.md
  chart/kubeftpd/Chart.yaml
  internal/controller/user_controller.go
  scripts/dev-setup.sh
Due: go-build, go-test-coverage, go-security-scan, manifest-validation

chore: bump version to v0.2.6
  README.md
  chart/kubeftpd/Chart.yaml
  chart/kubeftpd/values.yaml
Due: manifest-validation

feat: consolidate all HTTP endpoints onto port 8080 for v0.3.0
  .github/kind-config.yaml
  CHANGELOG.md
  Dockerfile
  Dockerfile.dev
  README.md
  chart/kubeftpd/Chart.yaml
  chart/kubeftpd/README.md
  chart/kubeftpd/examples/multi-backend.yaml
  chart/kubeftpd/examples/production-minio.yaml
  chart/kubeftpd/examples/simple-filesystem.yaml
  chart/kubeftpd/templates/deployment.yaml
  chart/kubeftpd/templates/networkpolicy.yaml
  chart/kubeftpd/templates/rbac.yaml
  chart/kubeftpd/templates/service.yaml
  chart/kubeftpd/templates/servicemonitor.yaml
  chart/kubeftpd/values.yaml
  cmd/main.go
  config/default/manager_metrics_patch.yaml
  config/manager/manager.yaml
  config/production/manager_production_patch.yaml
  docker-compose.yml
  scripts/dev-setup.sh
  test/e2e/e2e_test.go
Due: go-build, go-test-coverage, go-security-scan, manifest-validation

fix: handle fmt.Fprintf return value in status endpoint
  cmd/main.go
Due: go-build, go-test-coverage, go-security-scan

fix: use MinioBackend namespace when looking up secrets
  internal/backends/minio.go
Due: go-build, go-test-coverage, go-security-scan

fix: resolve MinioBackend namespace secret lookup bug and refactor main
  CHANGELOG.md
  README.md
  cmd/main.go
  internal/backends/minio_test.go
Due: go-build, go-test-coverage, go-security-scan

fix: disable secure metrics by default to fix health probe HTTP/HTTPS mismatch
  cmd/main.go
Due: go-build, go-test-coverage, go-security-scan

Path conditions:
  go-build: any of: \.go$
  go-test-coverage: any of: \.go$
  go-security-scan: any of: \.go$
  manifest-validation: any of: \.ya?ml$
