Repository rossigee/kubeftpd: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-build, go-test-coverage, go-security-scan, manifest-validation

go-build:
  name: go-build
  entry: make build
  language: system
  pass_filenames: false

go-test-coverage:
  name: go-test-coverage
  entry: make test-coverage
  language: system
  pass_filenames: false

go-security-scan:
  name: go-security-scan
  entry: make security-scan
  language: system
  pass_filenames: false
  stages:
  - pre-commit

manifest-validation:
  name: validate-k8s-manifests
  entry: make validate-manifests
  language: system
  pass_filenames: false

Deps update.
  go.mod
  go.sum
Due: none

fix: remove duplicate CRDs with old ftp.rossigee.com API group
  config/crd/bases/ftp.rossigee.com_miniobackends.yaml
  config/crd/bases/ftp.rossigee.com_users.yaml
  config/crd/bases/ftp.rossigee.com_webdavbackends.yaml
  config/manager/kustomization.yaml
  config/production/kustomization.yaml
  go.mod
  go.sum
Due: manifest-validation

fix: resolve race condition in FTP authentication causing wrong user directories
  internal/ftp/auth.go
  internal/ftp/server.go
Due: go-build, go-test-coverage, go-security-scan

fix: update chart to v0.6.3 with correct image tag
  chart/kubeftpd/Chart.yaml
  chart/kubeftpd/values.yaml
Due: manifest-validation

fix: resolve connection context handling in file operations
  internal/ftp/server.go
Due: go-build, go-test-coverage, go-security-scan

feat: implement session-based authentication to fix FTP context bug
  chart/kubeftpd/Chart.yaml
  chart/kubeftpd/values.yaml
  internal/ftp/auth.go
  internal/ftp/connection_context_test.go
  internal/ftp/server.go
Due: go-build, go-test-coverage, go-security-scan, manifest-validation

feat: implement stable session ID generation to complete FTP context bug fix
  chart/kubeftpd/Chart.yaml
  chart/kubeftpd/values.yaml
  internal/ftp/auth.go
Due: go-build, go-test-coverage, go-security-scan, manifest-validation

chore: update dependencies to latest versions
  go.mod
  go.sum
Due: none

chore: bump version to v0.6.6
  Dockerfile
  Makefile
  README.md
  cmd/main.go
  config/production/kustomization.yaml
Due: go-build, go-test-coverage, go-security-scan, manifest-validation

Bump versions.
  go.mod
  go.sum
Due: none

Fix potential memory leak.
  internal/ftp/server.go
Due: go-build, go-test-coverage, go-security-scan

Fix memory leak in KubeDriver by breaking reference cycle in Close method
  Dockerfile
  Makefile
  README.md
  chart/kubeftpd/Chart.yaml
  chart/kubeftpd/values.yaml
  cmd/main.go
  config/production/kustomization.yaml
  go.sum
  internal/ftp/server.go
Due: go-build, go-test-coverage, go-security-scan, manifest-validation

Update module dependencies
  go.mod
  go.sum
Due: none

Bump version to v0.6.8
  Dockerfile
  Makefile
  README.md
  chart/kubeftpd/Chart.yaml
  chart/kubeftpd/values.yaml
  cmd/main.go
  config/production/kustomization.yaml
Due: go-build, go-test-coverage, go-security-scan, manifest-validation

fix: resolve memory leak by optimizing backend controllers
  api/v1/miniobackend_types.go
  api/v1/webdavbackend_types.go
  api/v1/zz_generated.deepcopy.go
  cmd/main.go
  config/crd/bases/ftp.golder.org_miniobackends.yaml
  config/crd/bases/ftp.golder.org_webdavbackends.yaml
  go.mod
  go.sum
  internal/controller/miniobackend_controller.go
  internal/controller/webdavbackend_controller.go
  internal/ftp/auth.go
  internal/ftp/connection_context_test.go
  internal/ftp/server.go
Due: go-build, go-test-coverage, go-security-scan, manifest-validation

chore: bump version to v0.6.9
  Dockerfile
  Makefile
  README.md
  chart/kubeftpd/Chart.yaml
  chart/kubeftpd/values.yaml
  cmd/main.go
  config/production/kustomization.yaml
Due: go-build, go-test-coverage, go-security-scan, manifest-validation

Optimize controllers to reduce memory leaks by removing periodic reconciles and adding auth cache refresh
  go.mod
  go.sum
  internal/backends/minio.go
  internal/controller/filesystembackend_controller.go
  internal/controller/filesystembackend_controller_test.go
  internal/controller/user_controller.go
  internal/ftp/driver_test.go
  internal/ftp/server.go
  internal/storage/filesystem.go
  internal/storage/interface.go
  internal/storage/minio.go
  internal/storage/webdav.go
Due: go-build, go-test-coverage, go-security-scan

Bump version to v0.6.10
  Dockerfile
  Makefile
  README.md
  chart/kubeftpd/Chart.yaml
  chart/kubeftpd/values.yaml
  cmd/main.go
  config/production/kustomization.yaml
Due: go-build, go-test-coverage, go-security-scan, manifest-validation

Add 'setup-qemu-action'.
  .github/workflows/ci.yml
  .github/workflows/ci.yml.backup
  .github/workflows/release.yml
Due: manifest-validation

Bump to golang 1.25.5.
  go.mod
Due: none

Bump to golang 1.25.5.
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: manifest-validation

Bump go.mod versions.
  go.mod
  go.sum
Due: none

Bump module versions.
  go.mod
  go.sum
Due: none

deps: update Go dependencies
  go.mod
  go.sum
Due: none

ci: enhance CI/CD pipeline with security scanning and performance monitoring
  .github/workflows/ci.yml
  .github/workflows/dependency-review.yml
  .github/workflows/release.yml
Due: manifest-validation

chore: bump version to v0.6.11
  Makefile
  cmd/main.go
Due: go-build, go-test-coverage, go-security-scan

ci: fix kubebuilder installation for controller tests
  .github/workflows/ci.yml
Due: manifest-validation

ci: fix setup-envtest version parsing
  .github/workflows/ci.yml
Due: manifest-validation

ci: fix kubebuilder directory permissions
  .github/workflows/ci.yml
Due: manifest-validation

ci: pre-create kubebuilder directory structure
  .github/workflows/ci.yml
Due: manifest-validation

ci: use dynamic Kubernetes version for envtest
  .github/workflows/ci.yml
Due: manifest-validation

ci: fix YAML syntax error by using fixed Kubernetes version 1.34
  .github/workflows/ci.yml
Due: manifest-validation

ci: fix kubebuilder binary path and permissions
  .github/workflows/ci.yml
Due: manifest-validation

ci: fix YAML indentation and simplify env var setting
  .github/workflows/ci.yml
Due: manifest-validation

ci: simplify CI by skipping problematic controller tests
  .github/workflows/ci.yml
Due: manifest-validation

chore: bump version to v0.6.12
  Makefile
  cmd/main.go
Due: go-build, go-test-coverage, go-security-scan

ci: remove leftover kubebuilder installation commands
  .github/workflows/ci.yml
Due: manifest-validation

ci: remove stray comment causing YAML syntax error
  .github/workflows/ci.yml
Due: manifest-validation

ci: fix Test step indentation to 6 spaces
  .github/workflows/ci.yml
Due: manifest-validation

ci: fix YAML indentation for Test step
  .github/workflows/ci.yml
Due: manifest-validation

Path conditions:
  go-build: any of: \.go$
  go-test-coverage: any of: \.go$
  go-security-scan: any of: \.go$
  manifest-validation: any of: \.ya?ml$
