Repository rossigee/kubeftpd: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-build, go-test-coverage, go-security-scan, manifest-validation

go-build:
  name: go-build
  entry: make build
  language: system
  pass_filenames: false

go-test-coverage:
  name: go-test-coverage
  entry: make test-coverage
  language: system
  pass_filenames: false

go-security-scan:
  name: go-security-scan
  entry: make security-scan
  language: system
  pass_filenames: false
  stages:
  - pre-commit

manifest-validation:
  name: validate-k8s-manifests
  entry: make validate-manifests
  language: system
  pass_filenames: false

ci: complete rewrite with clean, minimal workflow
  .github/workflows/ci.yml
Due: manifest-validation

ci: fix Docker build by setting up Buildx and using single platform
  .github/workflows/ci.yml
Due: manifest-validation

feat: add configurable FTP and HTTP server bind addresses
  README.md
  cmd/main.go
  internal/ftp/server.go
Due: go-build, go-test-coverage, go-security-scan

chore: bump version to v0.6.13
  README.md
  chart/kubeftpd/Chart.yaml
  cmd/main.go
Due: go-build, go-test-coverage, go-security-scan, manifest-validation

ci: add Helm chart packaging and OCI registry push to release workflow
  .github/workflows/release.yml
Due: manifest-validation

chore: bump version to v0.6.14 with FTP server improvements and test coverage
  CHANGELOG.md
  README.md
  chart/kubeftpd/Chart.yaml
  cmd/main.go
  go.mod
  go.sum
  internal/ftp/server.go
  internal/ftp/server_test.go
Due: go-build, go-test-coverage, go-security-scan, manifest-validation

Move docs to docs.
  docs/COZYSTACK_INTEGRATION.md
  docs/GATEWAY_API_SUPPORT.md
  docs/PASV_LOADBALANCER_FIX.md
Due: none

Bump dependency versions.
  go.mod
  go.sum
Due: none

chore: bump Go to 1.26.0 and golangci-lint to v2.9.0
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  Dockerfile
  Dockerfile.dev
  go.mod
Due: manifest-validation

fix: bump go.opentelemetry.io/otel to v1.40.0 (GO-2026-4394)
  go.mod
  go.sum
Due: none

chore: bump golangci-lint Makefile version to v2.9.0
  Makefile
Due: none

Module updates.
  go.mod
  go.sum
Due: none

chore: bump Go to 1.26.1, golangci-lint to v2.11.2, and implement WebDAV secret credentials
  Makefile
  go.mod
  go.sum
  internal/backends/webdav.go
Due: go-build, go-test-coverage, go-security-scan

ci: bump Go to 1.26.1 and golangci-lint to v2.11.2 in workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: manifest-validation

chore: bump version to v0.6.13
  Makefile
Due: none

chore: bump version to v0.6.14
  Makefile
Due: none

chore: bump version to v0.6.16
  Makefile
Due: none

Bump versions.
  go.mod
  go.sum
Due: none

Chart contains template spec with security context
  chart/kubeftpd/templates/deployment.yaml
Due: manifest-validation

Chart contains template spec with security context (#77)
  chart/kubeftpd/templates/deployment.yaml
Due: manifest-validation

chore(deps): update dependencies to latest versions
  go.mod
  go.sum
Due: none

fix(security): address security review findings
  cmd/main.go
  internal/controller/builtin_user_manager.go
  internal/ftp/auth.go
  internal/ftp/server.go
  internal/storage/minio.go
  internal/storage/minio_test.go
  internal/storage/webdav.go
Due: go-build, go-test-coverage, go-security-scan

fix(security): bump Go to 1.26.2 to address stdlib CVEs
  .github/workflows/ci.yml
  .github/workflows/release.yml
  go.mod
Due: manifest-validation

feat: add CA certificate support for MinIO and WebDAV backends
  api/v1/miniobackend_types.go
  api/v1/webdavbackend_types.go
  api/v1/zz_generated.deepcopy.go
  config/crd/bases/ftp.golder.org_miniobackends.yaml
  config/crd/bases/ftp.golder.org_webdavbackends.yaml
  internal/backends/minio.go
  internal/backends/tls.go
  internal/backends/webdav.go
Due: go-build, go-test-coverage, go-security-scan, manifest-validation

test(backends): add TLS CA cert tests; update README with caSecretRef docs
  README.md
  internal/backends/tls_test.go
Due: go-build, go-test-coverage, go-security-scan

chore: bump version to v0.7.0
  README.md
  chart/kubeftpd/Chart.yaml
  chart/kubeftpd/values.yaml
Due: manifest-validation

ci: upgrade azure/setup-helm to v5 and softprops/action-gh-release to v3 (Node.js 24)
  .github/workflows/release.yml
Due: manifest-validation

Bump deps.
  go.mod
  go.sum
Due: none

Updated chart with default values
  chart/kubeftpd/templates/deployment.yaml
  chart/kubeftpd/values.yaml
Due: manifest-validation

Fixed typo
  chart/kubeftpd/templates/deployment.yaml
Due: manifest-validation

Fixed values.yaml to have the correct value
  chart/kubeftpd/values.yaml
Due: manifest-validation

Updated chart with default values (#97)
  chart/kubeftpd/templates/deployment.yaml
  chart/kubeftpd/values.yaml
Due: manifest-validation

fix(api): migrate SchemeBuilder from deprecated controller-runtime to runtime.SchemeBuilder
  api/v1/filesystembackend_types.go
  api/v1/groupversion_info.go
  api/v1/miniobackend_types.go
  api/v1/user_types.go
  api/v1/webdavbackend_types.go
  api/v1/zz_generated.deepcopy.go
Due: go-build, go-test-coverage, go-security-scan

feat: address critical testing gaps and improve test coverage
  .github/workflows/publish-chart.yml
  .pre-commit-config.yaml
  .yamllint.yaml
  README.md
  charts/kubeftpd/Chart.yaml
  charts/kubeftpd/templates/_helpers.tpl
  charts/kubeftpd/templates/deployment.yaml
  charts/kubeftpd/templates/service-ftp.yaml
  charts/kubeftpd/templates/service-metrics.yaml
  charts/kubeftpd/templates/serviceaccount.yaml
  charts/kubeftpd/values.yaml
  examples/cozystack/helmrelease.yaml
  examples/cozystack/helmrepository.yaml
  go.mod
  go.sum
  internal/backends/filesystem_test.go
  internal/backends/interface.go
  internal/backends/minio.go
  internal/backends/minio_test.go
  internal/backends/tls_test.go
  internal/backends/webdav.go
  internal/backends/webdav_test.go
  internal/controller/builtin_user_manager_test.go
  internal/controller/miniobackend_controller.go
  internal/controller/webdavbackend_controller.go
  internal/controller/webdavbackend_controller_test.go
  internal/ftp/auth.go
  internal/ftp/auth_test.go
  internal/ftp/connection_context_test.go
  internal/ftp/server.go
  internal/storage/interface.go
  internal/storage/webdav_test.go
Due: go-build, go-test-coverage, go-security-scan, manifest-validation

feat: implement WebDAV PROPFIND XML parsing and thread context through TLS config
  charts/kubeftpd/templates/deployment.yaml
  charts/kubeftpd/templates/serviceaccount.yaml
  charts/kubeftpd/values.yaml
  cmd/main_test.go
  internal/backends/minio.go
  internal/backends/tls.go
  internal/backends/tls_test.go
  internal/backends/webdav.go
  internal/backends/webdav_test.go
Due: go-build, go-test-coverage, go-security-scan, manifest-validation

feat(#86): add brute-force / rate-limit protection on FTP authentication
  internal/ftp/auth.go
  internal/ftp/bruteforce.go
  internal/ftp/bruteforce_test.go
  internal/ftp/server.go
Due: go-build, go-test-coverage, go-security-scan

feat(#87): add explicit FTPS/TLS support (RFC 4217) with cert-watcher rotation
  cmd/main.go
  internal/ftp/server.go
  internal/ftp/server_test.go
Due: go-build, go-test-coverage, go-security-scan

chore: bump version to v0.8.0
  charts/kubeftpd/Chart.yaml
  cmd/main.go
Due: go-build, go-test-coverage, go-security-scan, manifest-validation

fix: helm chart, health probe, and FTP server bind address
  .github/workflows/ci.yml
  .yamllint.yaml
  charts/kubeftpd/crds/ftp.golder.org_filesystembackends.yaml
  charts/kubeftpd/crds/ftp.golder.org_miniobackends.yaml
  charts/kubeftpd/crds/ftp.golder.org_users.yaml
  charts/kubeftpd/crds/ftp.golder.org_webdavbackends.yaml
  charts/kubeftpd/templates/deployment.yaml
  charts/kubeftpd/templates/rbac.yaml
  charts/kubeftpd/templates/service-ftp.yaml
  cmd/main.go
  internal/ftp/server.go
  internal/ftp/server_test.go
Due: go-build, go-test-coverage, go-security-scan, manifest-validation

Path conditions:
  go-build: any of: \.go$
  go-test-coverage: any of: \.go$
  go-security-scan: any of: \.go$
  manifest-validation: any of: \.ya?ml$
