Repository rossigee/kubeftpd: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-build, go-test-coverage, go-security-scan, manifest-validation, prevent-package-files

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
        exclude: '^chart/.*/templates/.*\.yaml$'
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-added-large-files
        args: [--maxkb=1024]
      - id: forbid-new-submodules
      - id: detect-private-key
      - id: mixed-line-ending
        args: [--fix=lf]

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-imports
      - id: go-cyclo
        args: [-over=15]
      - id: go-mod-tidy
      - id: go-unit-tests
      - id: golangci-lint

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: remove-tabs
        exclude: '(Makefile|\.mk|\.go|go\.mod)$'

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]

  - repo: https://github.com/hadolint/hadolint
    rev: v2.13.1-beta
    hooks:
      - id: hadolint
        args: [--ignore=DL3008, --ignore=DL3009, --ignore=DL3059, --ignore=DL3062, --ignore=DL4006, --ignore=SC2046]

  - repo: https://github.com/gruntwork-io/pre-commit
    rev: v0.1.30
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: go-build
        name: go-build
        entry: make build
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-test-coverage
        name: go-test-coverage
        entry: make test-coverage
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-security-scan
        name: go-security-scan
        entry: make security-scan
        language: system
        files: \.go$
        pass_filenames: false
        stages: [pre-commit]

      - id: manifest-validation
        name: validate-k8s-manifests
        entry: make validate-manifests
        language: system
        files: \.ya?ml$
        pass_filenames: false

      - id: prevent-package-files
        name: prevent-package-files
        entry: 'Package files should not be committed (use .gitignore)'
        language: fail
        files: '\.(tgz|tar\.gz|zip|jar|war|deb|rpm)$'

fail_fast: false

chore: bump version to v0.8.1
  Makefile
  cmd/main.go
Due: go-build, go-test-coverage, go-security-scan

fix(#89): remove username label from auth metrics to prevent account enumeration
  internal/ftp/auth.go
Due: go-build, go-test-coverage, go-security-scan

fix(#89): remove username label from user_login metric and fix CI workflows
  .github/workflows/ci.yml
  .github/workflows/publish-chart.yml
  .github/workflows/release.yml
  internal/ftp/auth.go
  internal/ftp/auth_test.go
  internal/metrics/usage.go
Due: go-build, go-test-coverage, go-security-scan, manifest-validation

fix(#89): add positive metric assertions in TestAuthMetrics_NoUsernameLabel to prevent vacuous test pass
  internal/ftp/auth_test.go
Due: go-build, go-test-coverage, go-security-scan

fix(#89): bump Go to 1.26.3 and fix dependency-review action config
  .github/workflows/ci.yml
  .github/workflows/dependency-review.yml
  go.mod
Due: manifest-validation

fix(#89): remove username label from auth metrics to prevent account enumeration (#101)
  .github/workflows/ci.yml
  .github/workflows/dependency-review.yml
  .github/workflows/publish-chart.yml
  .github/workflows/release.yml
  go.mod
  internal/ftp/auth.go
  internal/ftp/auth_test.go
  internal/metrics/usage.go
Due: go-build, go-test-coverage, go-security-scan, manifest-validation

chore: initialise gh-pages Helm repo index
  index.yaml
Due: manifest-validation

fix(#96): rewrite publish-chart workflow to use helm/chart-releaser-action
  .github/workflows/publish-chart.yml
Due: manifest-validation

Bump versions.
  go.mod
  go.sum
Due: none

Add release scripts.
  scripts/bump-version.sh
  scripts/release.sh
Due: none

chore(deps): bump Go to 1.26.4 and golangci-lint to 2.12.2
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Dockerfile.dev
  Makefile
  go.mod
  go.sum
Due: manifest-validation

chore(helm): bump chart version to 0.9.0
  charts/kubeftpd/Chart.yaml
Due: manifest-validation

fix: prevent nil pointer dereference during backend initialization
  internal/backends/minio.go
  internal/backends/webdav.go
  internal/ftp/server.go
Due: go-build, go-test-coverage, go-security-scan

fix: sanitize backend initialization errors in FTP responses
  internal/ftp/server.go
Due: go-build, go-test-coverage, go-security-scan

chore: update image tag to v0.9.0 for deployment
  config/manager/kustomization.yaml
Due: manifest-validation

fix: pass VERSION to docker build for correct binary version
  Makefile
Due: none

chore: fix deployment configuration to match binary and health endpoints
  config/manager/manager.yaml
Due: manifest-validation

fix: resolve concurrent status update conflicts in MinioBackend controller
  internal/controller/miniobackend_controller.go
Due: go-build, go-test-coverage, go-security-scan

fix: render additionalPorts in FTP service template
  charts/kubeftpd/templates/service-ftp.yaml
Due: manifest-validation

chore(release): bump version to 0.9.1
  charts/kubeftpd/Chart.yaml
Due: manifest-validation

Bump deps.
  go.mod
  go.sum
Due: none

build: bump Go toolchain to 1.26.5 and demote user cache logs to debug
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Dockerfile
  Dockerfile.dev
  go.mod
  go.sum
  internal/ftp/auth.go
Due: go-build, go-test-coverage, go-security-scan, manifest-validation

chore(release): bump version to 0.9.2
  charts/kubeftpd/Chart.yaml
Due: manifest-validation

ci: remove redundant publish-chart workflow
  .github/workflows/publish-chart.yml
Due: manifest-validation

chore(release): bump version to 0.9.3
  charts/kubeftpd/Chart.yaml
Due: manifest-validation

fix: default log level to INFO and add LOG_LEVEL env var support
  charts/kubeftpd/templates/deployment.yaml
  charts/kubeftpd/values.yaml
  cmd/main.go
  go.mod
Due: go-build, go-test-coverage, go-security-scan, manifest-validation

chore(release): bump version to 0.9.4 and go to 1.26.6
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Dockerfile
  Makefile
  README.md
  chart/kubeftpd/Chart.yaml
  chart/kubeftpd/values.yaml
  charts/kubeftpd/Chart.yaml
  cmd/main.go
  config/manager/kustomization.yaml
  config/production/kustomization.yaml
  go.mod
  releases/README.md
Due: go-build, go-test-coverage, go-security-scan, manifest-validation

chore: upgrade Go to 1.27.0 and update dependencies and GitHub Actions
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  Makefile
  go.mod
  go.sum
Due: manifest-validation

fix(deps): resolve structured-merge-diff version conflict
  go.mod
  go.sum
Due: none
