Repository rossigee/kubeftpd: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-build, go-test-coverage, go-security-scan, manifest-validation

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-added-large-files
        args: [--maxkb=1024]
      - id: detect-private-key
      - id: mixed-line-ending
        args: [--fix=lf]

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-imports
      - id: go-cyclo
        args: [-over=15]
      - id: go-mod-tidy
      - id: go-unit-tests
      - id: golangci-lint

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: remove-tabs
        exclude: '(Makefile|\.mk)$'

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]

  - repo: https://github.com/hadolint/hadolint
    rev: v2.13.1-beta
    hooks:
      - id: hadolint-docker
        args: [--ignore=DL3008, --ignore=DL3009]

  - repo: https://github.com/gruntwork-io/pre-commit
    rev: v0.1.30
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: go-build
        name: go-build
        entry: make build
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-test-coverage
        name: go-test-coverage
        entry: make test-coverage
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-security-scan
        name: go-security-scan
        entry: make security-scan
        language: system
        files: \.go$
        pass_filenames: false
        stages: [pre-commit]

      - id: manifest-validation
        name: validate-k8s-manifests
        entry: make validate-manifests
        language: system
        files: \.ya?ml$
        pass_filenames: false

fail_fast: false

feat: complete v0.4.x development series with comprehensive updates
  CHANGELOG.md
  chart/kubeftpd/Chart.yaml
  chart/kubeftpd/templates/deployment.yaml
  chart/kubeftpd/templates/rbac.yaml
  chart/kubeftpd/values.yaml
  config/manager/manager.yaml
  config/rbac/kustomization.yaml
  config/rbac/leader_election_role.yaml
  config/rbac/leader_election_role_binding.yaml
Due: manifest-validation

fix: resolve YAML formatting and template structure issues
  .pre-commit-config.yaml
  .yamllint.yaml
  chart/kubeftpd/templates/crds.yaml
  chart/kubeftpd/templates/filesystem-backends.yaml
  chart/kubeftpd/templates/minio-backends.yaml
  chart/kubeftpd/templates/networkpolicy.yaml
  chart/kubeftpd/templates/poddisruptionbudget.yaml
  chart/kubeftpd/templates/rbac.yaml
  chart/kubeftpd/templates/service.yaml
  chart/kubeftpd/templates/serviceaccount.yaml
  chart/kubeftpd/templates/servicemonitor.yaml
  chart/kubeftpd/templates/users.yaml
  chart/kubeftpd/templates/webdav-backends.yaml
  chart/kubeftpd/templates/webhook.yaml
  config/rbac/miniobackend_viewer_role.yaml
  config/rbac/role.yaml
  config/rbac/service_account.yaml
  config/rbac/webdavbackend_editor_role.yaml
  go.mod
Due: manifest-validation

feat: implement UID-based FTP port defaulting
  .pre-commit-config.yaml
  .yamllint.yaml
  CHANGELOG.md
  README.md
  chart/kubeftpd/README.md
  cmd/main.go
  cmd/main_test.go
  config/rbac/role.yaml
  go.mod
  test/e2e/filesystem_e2e_test.go
Due: go-build, go-test-coverage, go-security-scan, manifest-validation

chore: update helm chart configuration and versioning
  chart/kubeftpd/Chart.yaml
  chart/kubeftpd/templates/00-crds.yaml
  chart/kubeftpd/values.yaml
Due: manifest-validation

chore: update helm chart configuration and versioning
  chart/kubeftpd/Chart.yaml
  chart/kubeftpd/templates/00-crds.yaml
  chart/kubeftpd/values.yaml
  kubeftpd-0.3.1.tgz
Due: manifest-validation

security: remove hardcoded default password from chart
  chart/kubeftpd/Chart.yaml
  chart/kubeftpd/values.yaml
  kubeftpd-0.3.2.tgz
Due: manifest-validation

security: remove hardcoded default password from chart
  chart/kubeftpd/Chart.yaml
  chart/kubeftpd/values.yaml
Due: manifest-validation

docs: update changelog for v0.4.2 release
  CHANGELOG.md
Due: none

fix: resolve critical FTP upload data integrity bug with comprehensive verification
  internal/backends/filesystem.go
  internal/backends/filesystem_test.go
  internal/backends/minio.go
  internal/backends/minio_test.go
  internal/backends/webdav.go
  internal/storage/filesystem.go
  internal/storage/interface.go
  internal/storage/minio.go
  internal/storage/minio_test.go
Due: go-build, go-test-coverage, go-security-scan

chore: bump chart to v0.3.3 and app to v0.4.3 for bugfix release
  chart/kubeftpd/Chart.yaml
Due: manifest-validation

fix: improve GitHub Actions release workflow reliability
  .github/workflows/release.yml
Due: manifest-validation

fix: increase Docker build timeout to 40 minutes for multi-platform builds
  .github/workflows/release.yml
Due: manifest-validation

fix: remove .tgz files and prevent future package file commits
  .gitignore
  .pre-commit-config.yaml
Due: manifest-validation

feat: upgrade to goftp.io/server/v2 with enhanced logging and OTEL tracing
  .gitignore
  CHANGELOG.md
  README.md
  chart/kubeftpd/Chart.yaml
  chart/kubeftpd/templates/deployment.yaml
  chart/kubeftpd/templates/service.yaml
  chart/kubeftpd/values.yaml
  cmd/main.go
  go.mod
  go.sum
  internal/ftp/auth.go
  internal/ftp/auth_test.go
  internal/ftp/driver_test.go
  internal/ftp/server.go
  internal/storage/filesystem.go
  internal/storage/filesystem_test.go
  internal/storage/interface.go
  internal/storage/minio.go
  internal/storage/minio_test.go
  internal/storage/webdav.go
Due: go-build, go-test-coverage, go-security-scan, manifest-validation

feat: update to security-hardened FTP server fork with proper module path
  go.mod
  go.sum
Due: none

feat: add custom FTP welcome message support via FTP_WELCOME_MESSAGE environment variable
  cmd/main.go
  internal/ftp/server.go
Due: go-build, go-test-coverage, go-security-scan

feat: implement built-in anonymous and admin users
  README.md
  api/v1/user_types.go
  cmd/main.go
  config/crd/bases/ftp.golder.org_users.yaml
  internal/controller/builtin_user_manager.go
  internal/controller/user_controller.go
  internal/controller/user_controller_test.go
  internal/ftp/auth.go
  internal/ftp/auth_test.go
Due: go-build, go-test-coverage, go-security-scan, manifest-validation

feat: implement chroot/jail security for FTP users
  api/v1/user_types.go
  config/crd/bases/ftp.golder.org_users.yaml
  internal/ftp/chroot_test.go
  internal/ftp/server.go
Due: go-build, go-test-coverage, go-security-scan, manifest-validation

fix: configure User resource watch for BuiltInUserManager controller
  internal/controller/builtin_user_manager.go
Due: go-build, go-test-coverage, go-security-scan

fix: correct chroot path resolution and improve logging
  go.mod
  internal/ftp/auth.go
  internal/ftp/chroot_test.go
  internal/ftp/server.go
  scripts/README.md
  scripts/bump-version.sh
Due: go-build, go-test-coverage, go-security-scan

security: redact passwords in FTP command logging
  internal/ftp/server.go
Due: go-build, go-test-coverage, go-security-scan

fix: improve FTP error handling for RNFR operations
  internal/ftp/server.go
Due: go-build, go-test-coverage, go-security-scan

feat: add PublicIP configuration for PASV responses and update PASV port range
  cmd/main.go
  internal/ftp/server.go
Due: go-build, go-test-coverage, go-security-scan

fix: convert remaining printf-style logging to structured logging
  internal/ftp/server.go
Due: go-build, go-test-coverage, go-security-scan

fix: resolve 'offset mode not supported' error for FTP uploads
  internal/ftp/server.go
Due: go-build, go-test-coverage, go-security-scan

fix: handle empty directories in MinIO object storage
  internal/storage/minio.go
Due: go-build, go-test-coverage, go-security-scan

test: add regression tests for recent bug fixes
  cmd/main_test.go
  internal/ftp/driver_test.go
  internal/storage/minio_test.go
Due: go-build, go-test-coverage, go-security-scan

fix: combine FTP and PASV services into single LoadBalancer
  PASV_LOADBALANCER_FIX.md
  README.md
  chart/kubeftpd/templates/service.yaml
  chart/kubeftpd/values.yaml
  config/manager/ftp_service.yaml
  config/production/ftp_passive_service_patch.yaml
  config/production/ftp_service_patch.yaml
Due: manifest-validation

feat: add Gateway API and Cozystack platform support with enhanced security
  COZYSTACK_INTEGRATION.md
  GATEWAY_API_SUPPORT.md
  README.md
  chart/kubeftpd/templates/deployment.yaml
  chart/kubeftpd/templates/service.yaml
  chart/kubeftpd/values.yaml
  examples/cozystack/helmrelease.yaml
  examples/cozystack/helmrepository.yaml
  examples/cozystack/kustomization.yaml
  examples/cozystack/secret-demo-password.yaml
Due: manifest-validation

test: fix failing MinIO tests and lint issues
  internal/backends/minio_test.go
  internal/storage/minio.go
  internal/storage/minio_test.go
  test/e2e/ftp_regression_test.go
  test/e2e/service_config_test.go
Due: go-build, go-test-coverage, go-security-scan

chore: bump version to v0.5.1
  CHANGELOG.md
  Dockerfile
  Makefile
  cmd/main.go
Due: go-build, go-test-coverage, go-security-scan

fix: remove outdated Alpine package version pins in Dockerfile
  .hadolint.yaml
  Dockerfile
Due: manifest-validation
